body {
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito Sans', sans-serif;
}

.page {
	margin-top: 90px;
	margin-left: 20px;
	margin-right: 20px;
}

.card .graph {
	border: 0.5px solid #AAAAAA;
}

.numbers {
	font-size: 10pt;
}

.number {
	color: #ff5050;
}

.score {
	cursor: pointer;
}

textarea {
	font-family: 'Nunito Sans', sans-serif;
	border-style: none;
	border-color: Transparent;
	width: 290px;
	height: 200px;
}
